.conteudoInicio{
    background-image:   linear-gradient(to right, 
    rgba(56, 118, 242, 0.3), 
    rgba(37, 207, 31, 0.2),
    rgba(56, 118, 242, 0.2)),
    linear-gradient(to bottom, 
    rgba(56, 118, 242, 0), 
    rgba(56, 118, 242, 0.1),
    rgba(56, 118, 242, 0.8)),
    url(../../assets/img/araras.jpg);
    background-repeat: repeat;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    height: calc(100vh - 57px - 70px);
    width: 100%;
}

.slogan{
    
    color: ghostwhite;
    font-weight: 600;
}

@media (max-width: 768px) {
    .slogan{
    font-size: 40px;
    }

    .conteudoInicio{
        height: calc(100vh - 57px - 67px);
    }
}

@media(min-width: 768PX){
    .slogan{
        font-size: 60px;
    }
}